@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  text-align: center;
  color: white;
  padding: 2rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%;
  place-items: center;
  background: linear-gradient(to right, #060c0b, #0b3317);
}

.left-text {
  padding: 30px;
  letter-spacing: 1px;
}
.left-text h2 {
  background-image: url("https://images.unsplash.com/photo-1588001130028-f356d5b80f5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Island Moments", cursive;
}

.heading {
  font-size: 3rem;
  color: white;
  text-align: center;
}
.sub-heading {
  color: #ddd;
  margin-top: 10px;
  text-align: center;
}

.gallery {
  width: 100%;
  display: grid;
  gap: 8px;
  grid-auto-rows: 120px;
  grid-template-columns: repeat(3, 1fr);
  font-family: "Source Sans Pro", sans-serif;
}

.btn {
  margin-top: 2rem;
}
.btn a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #d3c8c8;
  transition: all 0.6s ease-in-out;
  border-radius: 5px;
  color: black;
}
.btn a:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  box-shadow: 0 0 12px white;
}

.box {
  background-size: cover;
  background-position: top;
  transition: all 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  background-blend-mode: hard-light;
  cursor: pointer;
}

.box:hover {
  background-color: #837676;
  background-position: center;
  box-shadow: 0 0 1rem rgba(141, 255, 223, 0.631);
}

.row-2 {
  grid-row: span 2;
}

.col-2 {
  grid-column: span 2;
}
